.hat {
  //height: 500px;
  background-image: url(../images/head.png);
  //background-overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.tmp {
  width: 100px;
  height: 100px;
  background-color: red;
}

body {
  margin: 0;
}
