.hat {
  width: 100%;
  height: 400px;
  background-color: yellow;
  margin: 0 16px 30px 16px;
  //background-repeat: no-repeat;
  background-image: url(../images/head.png);
  background-overflow: hidden;
}
